    <nav class="navbar navbar-default">
      <div class="navbar-header">
         <a class="navbar-brand" href="/list/<%= type.id %>">
         	<p class="text-primary">
         		<span class="glyphicon glyphicon-arrow-left"></span>
         		<strong><%= type.typeName %></strong>
         	</p>
         </a>
      </div>
    </nav>